<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MidiInputSectionNote" type="ATEMkey.Configs.MidiInputSectionNote, ATEMkey"/>
    <section name="MidiInputSectionControl" type="ATEMkey.Configs.MidiInputSectionControl, ATEMkey"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ATEMip" value="192.168.1.240"/>
    <add key="HyperDeckIp" value="192.168.1.241"/>
  </appSettings>
  <MidiInputSectionNote>
    <NoteInputMap>
      <!-- Cam 1-8 -->
      <!-- Program-->
      <add command="ProgramInput" port="Cam4" midiCommand="NoteOn" keyValue="Key39"/>
      <add command="ProgramInput" port="Cam5" midiCommand="NoteOn" keyValue="Key48"/>
      <add command="ProgramInput" port="Cam6" midiCommand="NoteOn" keyValue="Key45"/>
      <add command="ProgramInput" port="Cam7" midiCommand="NoteOn" keyValue="Key43"/>
      <!-- Preview -->
      <add command="PreviewInput" port="Cam4" midiCommand="NoteOn" keyValue="Key36"/>
      <add command="PreviewInput" port="Cam5" midiCommand="NoteOn" keyValue="Key38"/>
      <add command="PreviewInput" port="Cam6" midiCommand="NoteOn" keyValue="Key40"/>
      <add command="PreviewInput" port="Cam7" midiCommand="NoteOn" keyValue="Key42"/>

      <!-- Media Player 1-2-->
      <!-- Program-->
      <add command="ProgramInput" port="Mp1" midiCommand="NoteOn" keyValue="Key51"/>
      <add command="ProgramInput" port="Mp2" midiCommand="NoteOn" keyValue="Key49"/>
      <!-- Preview -->
      <add command="PreviewInput" port="Mp1" midiCommand="NoteOn" keyValue="Key44"/>
      <add command="PreviewInput" port="Mp2" midiCommand="NoteOn" keyValue="Key46"/>
      
      <!-- Transition-->
      <add command="Cut" midiCommand="NoteOn" keyValue="Key1"/>
      <add command="AutoTrans" midiCommand="NoteOn" keyValue="Key2"/>
    </NoteInputMap>
  </MidiInputSectionNote>
  <MidiInputSectionControl>
    <ControlInputMap>
      <add command="Record" midiCommand="Control" value="44"/>
      <add command="Stop" midiCommand="Control" value="46"/>
      <add command="LiveAuto" midiCommand="Control" value="49"/>
    </ControlInputMap>
  </MidiInputSectionControl>
</configuration>