<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="MidiInput">
      <section name="MapATEMMidi" type="ATEMkey.Configs.MapATEMMidi"/>
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ATEMip" value="192.168.1.240"/>
    <add key="HyperDeckIp" value="192.168.1.241"/>
  </appSettings>
  <MidiInput>
    <!-- Cam 1-8 -->
    <MapATEMMidi Command="ProgramInput" Port="Cam4" MidiCommand="ChannelCommand.NoteOn" KeyValue="39"/>
    <MapATEMMidi Command="ProgramInput" Port="Cam5" MidiCommand="ChannelCommand.NoteOn" KeyValue="48"/>
    <MapATEMMidi Command="ProgramInput" Port="Cam6" MidiCommand="ChannelCommand.NoteOn" KeyValue="45"/>
    <MapATEMMidi Command="ProgramInput" Port="Cam7" MidiCommand="ChannelCommand.NoteOn" KeyValue="43"/>
    <!-- Media Player 1-2-->
    <MapATEMMidi Command="ProgramInput" Port="Mp1" MidiCommand="ChannelCommand.NoteOn" KeyValue="51"/>
    <MapATEMMidi Command="ProgramInput" Port="Mp2" MidiCommand="ChannelCommand.NoteOn" KeyValue="49"/>
  </MidiInput>
</configuration>